.nav {
  margin-top: 3rem;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      cursor: pointer;
      transition: all 0.3s;
      margin-right: 1rem;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        transform: translateY(-5px);

        span {
          opacity: 1;
          display: block; // Add this line
        }
      }

      img {
        width: 4.5rem;
        height: 4.5rem;
        object-fit: contain;
      }

      span {
        position: absolute;
        bottom: -1.5rem;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
        display: none; // Add this line
      }
    }
  }
}
